**<div class="alert alert-block alert-info"> Importing Packages with the help of library function**</div>

In [26]:
library(tdplyr)
options(tibble.print_min = 20)
library(dplyr)
library(dbplyr)

**<div class="alert alert-block alert-warning"> The td.column.casesensitive.handler is a boolean configuration property that controls whether to treat the column names passed to analytical function arguments as 'Case Sensitive' or 'Case Insensitive'.
When the property is set to FALSE (default), column names passed to analytical function wrappers are treated as 'Case Insensitive'.
When the property is set to TRUE, column names are treated as 'Case Sensitive'.**</div>

In [11]:
options('td.column.casesensitive.handler'= FALSE)

**<div class="alert alert-block alert-info"> Reading user input with masking from getPass() and creating context with td_create_context()**</div>

In [12]:
my_password <- getPass()

 ·········

In [13]:
con <- td_create_context(host = "tdprd3.td.teradata.com", uid="cs186026", pwd=my_password, database="cs186026", dType = "native", logmech = "LDAP")

In [14]:
# Change temporary database.
td_set_context(con, temp.database = "cs186026")

**<div class="alert alert-block alert-info"> Use the td_get_context function to retrieve a named list of attributes in an existing context.**</div>

In [15]:
td_get_context()

$connection
<Teradata Native Driver Connection>
  CS186026@tdprd3.td.teradata.com
  Database: CS186026
  Teradata Version: 17.10.03.01
<TeradataConnection Driver=17.10.0.4 Database=17.10.03.01 Host=tdprd3.td.teradata.com uConnHandle=1>

$temp.database
[1] "CS186026"

$default.database
[1] "CS186026"

$driver.type
[1] "Teradata Native Driver"

**<div class="alert alert-block alert-info"> To retrieve the connection in the current context, use:<br>
td_get_context()$connection**</div>

In [16]:
td_get_context()$connection

<Teradata Native Driver Connection>
  CS186026@tdprd3.td.teradata.com
  Database: CS186026
  Teradata Version: 17.10.03.01
<TeradataConnection Driver=17.10.0.4 Database=17.10.03.01 Host=tdprd3.td.teradata.com uConnHandle=1>

**<div class="alert alert-block alert-info">To retrieve the temorary database in the current context, use:<br>
td_get_context()$temp.database**</div>

In [17]:
td_get_context()$temp.database

[1] "CS186026"

**<div class="alert alert-block alert-info">To retrieve the default database in the current context, use:<br>
td_get_context()$database**</div>

In [18]:
td_get_context()$database

NULL

**<div class="alert alert-block alert-info"> Accessing a table**</div>

In [19]:
df <- tbl(con, "Employee")

In [20]:
df

# Source:   table<Employee> [?? x 8]
# Database: Teradata
   Employee_Number Dept_Number Emp_Mgr_Number Job_Code Last_Name      First_Name
             <int>       <int>          <int>    <int> <chr>          <chr>
 1            1018         501             NA   412101 "Ratzlaff    ~ Larry
 2            1004         401             NA   412101 "Johnson     ~ Darlene
 3            1009         403             NA       NA "Lombardo    ~ Domingus
 4            1025          NA             NA   211100 "Short       ~ Michael
 5            1014         402             NA       NA "Crane       ~ Robert
 6            1006         301             NA   312101 "Stein       ~ John
 7            1010         401             NA   412101 "Rogers      ~ Frank
 8            1001         401             NA   412101 "Hoover      ~ William
 9            1012         403             NA       NA "Hopkins     ~ Paulene
10            1024         403             NA       NA "Brown       ~ Allen
11            1008         301             NA   312102 "Kanieski    ~ Carol
12            1015         501             NA   412109 "Wilson      ~ Edward
13            1022         401             NA       NA "Machado     ~ Albert
14            1016          NA             NA   321100 "Rogers      ~ Nora
15            1002         401             NA       NA "Brown       ~ Alan
16            1023         501             NA   312103 "Rabbit      ~ Peter
17            1007         403             NA   432101 "Villegas    ~ Arnando
18            1020         403             NA       NA "Charles     ~ John
19            1013         401             NA       NA "Phillips    ~ Charles
20            1021          NA             NA   222101 "Morrissey   ~ Jim
# ... with 2 more variables: Salary_Amount <dbl>, Hire_Date <date>

**<div class="alert alert-block alert-info"> Accessing a table from select query**</div>

In [21]:
df_site_num <- tbl(con, sql("select * from cs186026.Employee"))

In [22]:
df_site_num

# Source:   SQL [?? x 8]
# Database: Teradata
   Employee_Number Dept_Number Emp_Mgr_Number Job_Code Last_Name      First_Name
             <int>       <int>          <int>    <int> <chr>          <chr>
 1            1018         501             NA   412101 "Ratzlaff    ~ Larry
 2            1025          NA             NA   211100 "Short       ~ Michael
 3            1007         403             NA   432101 "Villegas    ~ Arnando
 4            1014         402             NA       NA "Crane       ~ Robert
 5            1006         301             NA   312101 "Stein       ~ John
 6            1001         401             NA   412101 "Hoover      ~ William
 7            1004         401             NA   412101 "Johnson     ~ Darlene
 8            1020         403             NA       NA "Charles     ~ John
 9            1024         403             NA       NA "Brown       ~ Allen
10            1012         403             NA       NA "Hopkins     ~ Paulene
11            1015         501             NA   412109 "Wilson      ~ Edward
12            1016          NA             NA   321100 "Rogers      ~ Nora
13            1008         301             NA   312102 "Kanieski    ~ Carol
14            1023         501             NA   312103 "Rabbit      ~ Peter
15            1002         401             NA       NA "Brown       ~ Alan
16            1022         401             NA       NA "Machado     ~ Albert
17            1010         401             NA   412101 "Rogers      ~ Frank
18            1009         403             NA       NA "Lombardo    ~ Domingus
19            1013         401             NA       NA "Phillips    ~ Charles
20            1021          NA             NA   222101 "Morrissey   ~ Jim
# ... with 2 more variables: Salary_Amount <dbl>, Hire_Date <date>

**<div class="alert alert-block alert-info"> Make a copy of original table in a new dataframe**</div>

In [23]:
copy_to(con, df, name="employee_upload", overwrite=FALSE)

In [4]:
copy_to(con, df, name = dbplyr::in_schema(td_get_context()$temp.database,"site_hier_2"), overwrite=FALSE)

ERROR: Error in copy_to(con, df, name = dbplyr::in_schema(td_get_context()$temp.database, : could not find function "copy_to"

In [24]:
df_site_num_2 <- tbl(con, sql("select * from employee_upload"))

In [25]:
df_site_num_2

# Source:   SQL [?? x 8]
# Database: Teradata
   Employee_Number Dept_Number Emp_Mgr_Number Job_Code Last_Name      First_Name
             <int>       <int>          <int>    <int> <chr>          <chr>
 1            1014         402             NA       NA "Crane       ~ Robert
 2            1010         401             NA   412101 "Rogers      ~ Frank
 3            1001         401             NA   412101 "Hoover      ~ William
 4            1006         301             NA   312101 "Stein       ~ John
 5            1024         403             NA       NA "Brown       ~ Allen
 6            1015         501             NA   412109 "Wilson      ~ Edward
 7            1022         401             NA       NA "Machado     ~ Albert
 8            1008         301             NA   312102 "Kanieski    ~ Carol
 9            1023         501             NA   312103 "Rabbit      ~ Peter
10            1016          NA             NA   321100 "Rogers      ~ Nora
11            1002         401             NA       NA "Brown       ~ Alan
12            1018         501             NA   412101 "Ratzlaff    ~ Larry
13            1013         401             NA       NA "Phillips    ~ Charles
14            1020         403             NA       NA "Charles     ~ John
15            1004         401             NA   412101 "Johnson     ~ Darlene
16            1021          NA             NA   222101 "Morrissey   ~ Jim
17            1012         403             NA       NA "Hopkins     ~ Paulene
18            1007         403             NA   432101 "Villegas    ~ Arnando
19            1009         403             NA       NA "Lombardo    ~ Domingus
20            1025          NA             NA   211100 "Short       ~ Michael
# ... with 2 more variables: Salary_Amount <dbl>, Hire_Date <date>

**<div class="alert alert-block alert-info">Use the td_set_context function to initialize or update a context using an already established connection.**</div>

In [97]:
td_set_context(con, temp.database = "chasing")

**<div class="alert alert-block alert-info">Load the example data**</div>

In [95]:
loadExampleData("df", "df")

Warning message in file(con, "r"):
“file("") only supports open = "w+" and open = "w+b": using the former”

ERROR: Error: In loadExampleData('df', 'df'):
[tdplyr - (TDR_E2101)] The example file 'df' does not load the table(s) 'df'.

**<div class="alert alert-block alert-info">Use the td_remove_context function to remove an existing context created using the td_create_context function or the td_set_context or dbConnect(tdplyr::NativeDriver(), ...) function.**</div>

In [ ]:
td_remove_context()