
# <center> Connecting to Teradata Database from SQL Kernel </center>

**<div class="alert alert-block alert-info"> Adding a new Teradata Connection for SQL Kernel, Involve below steps**</div>
 1. Add Variables.<br>
 2. Create Connection <br>
 3. Activate Connection

**<div class="alert alert-block alert-info"> Use Below Syntax Add New Variable**</div>

In [11]:
%var systemName='tdprod1_ngco_com', user='chasing', host='tdprod1.ngco.com', db='chasing'

In [137]:
%rmconnect ${systemName}

ERROR: Profile does not exist

**<div class="alert alert-block alert-info">Use Below Syntax to Add Connection.** </div>

In [138]:
%addconnect name=${systemName}, user=${user}, host=${host}, logmech='LDAP'

Success: ''tdprod1_ngco_com'' connection added

**<div class="alert alert-block alert-info">Use Below Syntax to Connect to Teradata Environment** </div>

In [2]:
%connect Vantage-Live

Password: ·········

Success: 'Vantage-Live' connection established and activated for user 'cs186026', with default database 'cs186026'

## <center> Executing Training Lab </center> 
### Teradata Basic SQL LAB (Studio or Studio Express and HELP Command [Slide 21-32]) ##

#### 1. Try each of the following in the order shown, and note if it fails by looking at the Bottom-Left portion of the utility screen. For those that fail,  <font color='blue'>"double-click"</font> the
#### <font color='blue'>"Result"</font> field for the failed request in the <font color='blue'>"SQL History Window."</font> 

#### 2. Practice dragging and dropping columns from the <font color='blue'>"Data Source Explorer"</font> window onto the <font color='blue'>"SQL Editor Window."</font>

#### 3. Try using the Project Explorer to save, recall and run saved SQL queries.

#### 4. Experiment with recalling previously run queries in the Teradata SQL History window and the affect of having multiple SQL Editors open.

**<div class="alert alert-block alert-info">  HELP DATABASE;** </div> 
**<div class="alert alert-block alert-info">  HELP DATABASE yourusername;** </div> 
**<div class="alert alert-block alert-info">  HELP SHOW TABLE Employee;** </div> 
**<div class="alert alert-block alert-info">  HELP SHOW TABLE Employee_View;** </div> 
**<div class="alert alert-block alert-info">  SHOW VIEW Employee_View;** </div>

In [15]:
HELP DATABASE cs186026;

,Table/View/Macro name,Kind,Comment,Protection,Creator Name,Commit Option,Transaction Log,Table/View/Macro Dictionary Name,Table/View/Macro SQL Name,Table/View/Macro Name UEscape,Creator Dictionary Name,Creator SQL Name,Creator Name UEscape,Table Flavor
1,Department,T,,F,CS186026,N,Y,Department,Department,,CS186026,CS186026,,
2,Department_uploaded,O,,F,CS186026,N,Y,Department_uploaded,Department_uploaded,,CS186026,CS186026,,
3,Employee,T,,F,CS186026,N,Y,Employee,Employee,,CS186026,CS186026,,
4,Employee_View,V,,F,CS186026,N,Y,Employee_View,Employee_View,,CS186026,CS186026,,
5,Emp_Phone,T,,F,CS186026,N,Y,Emp_Phone,Emp_Phone,,CS186026,CS186026,,
6,Job,T,,F,CS186026,N,Y,Job,Job,,CS186026,CS186026,,
7,ml___frmqry_v_1643819419664104,V,,F,CS186026,N,Y,ml___frmqry_v_1643819419664104,ml___frmqry_v_1643819419664104,,CS186026,CS186026,,

In [16]:
DATABASE cs186026;

Success: 1 rows affected

In [17]:
help database cs186026;

,Table/View/Macro name,Kind,Comment,Protection,Creator Name,Commit Option,Transaction Log,Table/View/Macro Dictionary Name,Table/View/Macro SQL Name,Table/View/Macro Name UEscape,Creator Dictionary Name,Creator SQL Name,Creator Name UEscape,Table Flavor
1,Department,T,,F,CS186026,N,Y,Department,Department,,CS186026,CS186026,,
2,Department_uploaded,O,,F,CS186026,N,Y,Department_uploaded,Department_uploaded,,CS186026,CS186026,,
3,Employee,T,,F,CS186026,N,Y,Employee,Employee,,CS186026,CS186026,,
4,Employee_View,V,,F,CS186026,N,Y,Employee_View,Employee_View,,CS186026,CS186026,,
5,Emp_Phone,T,,F,CS186026,N,Y,Emp_Phone,Emp_Phone,,CS186026,CS186026,,
6,Job,T,,F,CS186026,N,Y,Job,Job,,CS186026,CS186026,,
7,ml___frmqry_v_1643819419664104,V,,F,CS186026,N,Y,ml___frmqry_v_1643819419664104,ml___frmqry_v_1643819419664104,,CS186026,CS186026,,

In [18]:
-- SHOW TABLE Employee_View; 
SHOW VIEW Employee_View;

,Request Text
1,"CREATE VIEW Employee_View ( Dept_Number ,Emp_Mgr_Number ,Job_Code ,Last_Name ,First_Name ,Salary_Amount ) AS LOCKING ROW FOR ACCESS SELECT Dept_Number ,Emp_Mgr_Number ,Job_Code ,Last_Name ,First_Name ,Salary_Amount FROM Employee;"

# Teradata Logical Operators Slide [49]

**<div class="alert alert-block alert-info"> 1. Find and list the first and last names of employees where their last name begins with either "R", "S", or "T"** </div>

In [1]:
SELECT first_name, last_name
FROM Employee
WHERE last_name >= 'R' AND last_name < 'U'
ORDER BY 2, 1;

ERROR: No active connection

**<div class="alert alert-block alert-info">2. Write a request that will show the salary amount for the people identified in #1 if they were given a 10% increase in salary that gave them a salary > 50K** </div>

In [213]:
SELECT first_name,
    last_name,
    salary_amount AS current_sal,
    (salary_amount *1.1) AS new_sal
    FROM Employee
    WHERE last_name >= 'R'
        AND  last_name < 'U'
        AND  new_sal > 50000
    ORDER BY 2,
        1;

,First_Name,Last_Name,current_sal,new_sal
1,Peter,Rabbit,56500.00,62150.000
2,Larry,Ratzlaff,56500.00,62150.000
3,Frank,Rogers,46000.00,50600.000
4,Nora,Rogers,56500.00,62150.000
5,Michael,Short,56500.00,62150.000
6,John,Stein,46000.00,50600.000

# Set Operators [Slide 51-55]

**<div class="alert alert-block alert-info"> 1. Select all Job codes of manager and which are belongs to department number 301, 501** </div>

In [152]:
SELECT Job_Code FROM Employee
   WHERE Dept_Number IN  (301, 501)
   INTERSECT 
   SELECT Job_Code FROM Job
   WHERE Job_Desc  LIKE '%Manager%';

,Job_Code
1,312101
2,412101
3,412109

**<div class="alert alert-block alert-info">2. Combines the Employee_Number value from both Employee and Emp_Phone table** </div>

In [153]:
SELECT Employee_Number
FROM  
Employee 
UNION 
SELECT Employee_Number
FROM  
Emp_Phone;

,Employee_Number
1,1001
2,1002
3,1004
4,1006
5,1007
6,1008
7,1009
8,1010
9,1012
10,1013
11,1014
12,1015
13,1016
14,1018
15,1020
16,1021
17,1022
18,1023
19,1024
20,1025

**<div class="alert alert-block alert-info"> 3. Select all employee number who does not have phone number registered** </div>

In [154]:
SELECT Employee_Number
        FROM  
        Employee 
    
    MINUS
    SELECT Employee_Number
        FROM Emp_Phone
        WHERE Phone_Number IS NOT NULL;

,Employee_Number
1,1009
2,1010
3,1012
4,1013
5,1014
6,1015
7,1016
8,1018
9,1020
10,1021
11,1022
12,1023
13,1024
14,1025

# Teradata SQL Basic – Functions Slide [57-71]

**<div class="alert alert-block alert-info"> 1. From the Employee table, display the last name and first name for employees 1013, 1018, and 1024. Concatenate the columns so that you see them as "last, first."** </div>

In [155]:
SELECT last_name,first_name,TRIM(last_name)||', '||TRIM(first_name) AS FullName
FROM employee
WHERE employee_number in (1013, 1018,1024);

,Last_Name,First_Name,FullName
1,Brown,Allen,"Brown, Allen"
2,Phillips,Charles,"Phillips, Charles"
3,Ratzlaff,Larry,"Ratzlaff, Larry"

**<div class="alert alert-block alert-info"> 2. Repeat #1. Replace your WHERE clause, using LIKE to only list employees who have an "LL" combination in their last name** </div>

In [156]:
SELECT last_name,first_name,TRIM(last_name)||', '||TRIM(first_name) AS FullName
FROM employee
WHERE last_name LIKE '%ll%';

,Last_Name,First_Name,FullName
1,Villegas,Arnando,"Villegas, Arnando"
2,Phillips,Charles,"Phillips, Charles"

**<div class="alert alert-block alert-info">3. Using POSITION, change #2 to also include last names having an "FF"combination in their last name, and instead display the result like this:** </div>

**FullName<br>**
**-----------------**<br>
**Phillips, Charles**<br>
**Ratzlaff, Larry**<br>
**Villegas, Arnando**<br>

In [157]:
SELECT TRIM(last_name)||', '||TRIM(first_name) AS FullName
FROM employee
WHERE POSITION('ll' in last_name) > 0
or POSITION('ff' in last_name) > 0;

,FullName
1,"Villegas, Arnando"
2,"Phillips, Charles"
3,"Ratzlaff, Larry"

In [158]:

SELECT TRIM(last_name)||', '||TRIM(first_name) AS FullName
FROM Employee
WHERE last_name LIKE ANY ('%ll%', '%ff%');

,FullName
1,"Villegas, Arnando"
2,"Phillips, Charles"
3,"Ratzlaff, Larry"

**<div class="alert alert-block alert-info"> 4. Display whatever employee information you deem necessary to compare salary changes for the people in their respective departments as shown in the chart below** </div>

**Department Change in Salary<br>**
**---------- ----------------**<br>
**301 10%**<br>
**NULL -5%**<br>
**501 20%**<br>

In [161]:
SELECT last_name (CHAR(10)), Dept_Number AS D#,
job_code, salary_amount AS O_sal,
CASE
WHEN Dept_Number = 301
THEN COALESCE(salary_amount, job_code) * 1.1
WHEN Dept_Number = 501
THEN COALESCE(salary_amount, job_code) * 1.2
WHEN Dept_Number IS NULL
THEN COALESCE(salary_amount, job_code) * 0.95
END (DEC(10,2)) AS N_sal
FROM Employee
WHERE Dept_Number IN (301, 501)
OR Dept_Number IS NULL
ORDER BY 2, 1;

,Last_Name,D#,Job_Code,O_sal,N_sal
1,Morrissey,,222101,56500.00,53675.00
2,Rogers,,321100,56500.00,53675.00
3,Short,,211100,56500.00,53675.00
4,Kanieski,301,312102,46000.00,50600.00
5,Stein,301,312101,46000.00,50600.00
6,Rabbit,501,312103,56500.00,67800.00
7,Ratzlaff,501,412101,56500.00,67800.00
8,Wilson,501,412109,37900.00,45480.00

**<div class="alert alert-block alert-info"> 5. Display whatever employee information you deem necessary to return the sums and two averages for department salaries. One average should be
that where a null salary is made into a zero, and another where a zero salary is made into a null.
Verify that, where different averages occur, the zero-to-null salary averages should be larger.**</div>

In [162]:
SELECT Dept_Number (SMALLINT) AS D#,
SUM(COALESCE(salary_amount, 0)) AS NullToZeroSum,
AVG(COALESCE(salary_amount, 0)) AS NullToZeroAvg,
SUM(NULLIF(salary_amount, 0)) AS ZeroToNullSum,
AVG(NULLIF(salary_amount, 0)) AS ZeroToNullAvg
FROM employee
GROUP BY 1
ORDER BY 1;

,D#,NullToZeroSum,NullToZeroAvg,ZeroToNullSum,ZeroToNullAvg
1,,169500.00,56500,169500.00,56500
2,301,92000.00,46000,92000.00,46000
3,401,233400.00,38900,233400.00,38900
4,402,37900.00,37900,37900.00,37900
5,403,227900.00,45580,227900.00,45580
6,501,150900.00,50300,150900.00,50300

# PIVOT  Slide 74

**<div class="alert alert-block alert-info">Create sample table and insert few records** </div>

In [163]:
CREATE TABLE t1(yr INTEGER,mon VARCHAR(3),sales INTEGER);

--Assume that following insert statements 
INSERT t1 VALUES(2003,'Jan',300);
INSERT t1 VALUES(2001,'Jan',100);
INSERT t1 VALUES(2003,'Feb',310);
INSERT t1 VALUES(2001,'Feb',110);
INSERT t1 VALUES(2002,'Jan',150);
INSERT t1 VALUES(2001,'Mar',120);
INSERT t1 VALUES(2002,'Feb',200);
INSERT t1 VALUES(2002,'Mar',250);
INSERT t1 VALUES(2003,'Mar',1000);

ERROR: Unable to run SQL: Unable to run SQL query: Database reported error:3803:Table 't1' already exists.

In [164]:
-- View Data
SELECT * FROM t1 ;

,yr,mon,sales
1,2002,Jan,150
2,2001,Jan,100
3,2003,Jan,300
4,2002,Feb,200
5,2001,Feb,110
6,2003,Feb,310
7,2002,Mar,250
8,2001,Mar,120
9,2003,Mar,1000

**<div class="alert alert-block alert-info">Use Below Syntax to Pivot Table**</Div>

In [165]:
--Pivot Syntax
SELECT * FROM t1 PIVOT(SUM(sales) as Year_sale FOR mon IN ('Jan' as Jan1,'Feb' as Feb1,'Mar' as March1)) tmp;

,yr,Jan1_Year_sale,Feb1_Year_sale,March1_Year_sale
1,2002,150,200,250
2,2001,100,110,120
3,2003,300,310,1000

**<div class="alert alert-block alert-info">Drop Newly creates sample table**</div>

In [ ]:
drop table t1;

#  UNPIVOT Slide 75
**<div class="alert alert-block alert-info">Create sample table with few records** </div>

In [168]:
CREATE TABLE unpivot_exp(yr INTEGER,JAN_sales INTEGER, FEB_sales INTEGER,mar_sales INTEGER);

Success: 0 rows affected

In [169]:
INSERT unpivot_exp(2001,100,110,120);
INSERT unpivot_exp(2002,150,200,250);
INSERT unpivot_exp(2003,300,310,1000);

Success: 1 rows affected

Success: 1 rows affected

Success: 1 rows affected

**<div class="alert alert-block alert-info"> View Raw Data** </div>

In [170]:
select * from unpivot_exp;

,yr,JAN_sales,FEB_sales,mar_sales
1,2002,150,200,250
2,2001,100,110,120
3,2003,300,310,1000

**<div class="alert alert-block alert-info"> Use below Syntax to Unpivot Table** </div>

In [171]:
SELECT * FROM unpivot_exp UNPIVOT ((SALES)  FOR  MON 
                          IN ((JAN_sales) AS 'JAN', 
                              (FEB_sales) AS 'FEB',
                              (MAR_sales) AS 'MAR')) Tmp;

,yr,MON,SALES
1,2002,JAN,150
2,2001,JAN,100
3,2003,JAN,300
4,2002,FEB,200
5,2001,FEB,110
6,2003,FEB,310
7,2002,MAR,250
8,2001,MAR,120
9,2003,MAR,1000

**<div class="alert alert-block alert-info"> Drop Newly Created Sample table** </div>

In [32]:
Drop table unpivot_exp;

Success: 18 rows affected

# Column Formatting Slide [81-84]
**<div class="alert alert-block alert-info"> 1. Apply the appropriate format to the budget_amount column (Department table) to produce the formatting result shown.**</div>
**<div class="alert alert-block alert-info"> a) $ 982,300.00 (Explicit CAST)**</div>

In [172]:
SELECT CAST((budget_amount (FORMAT '$zzz,zzz,zzz.99')) AS
VARCHAR(30))
FROM Department;

,Budget_Amount
1,"$ 932,000.00"
2,"$ 982,300.00"
3,"$ 982,300.00"
4,"$ 982,300.00"
5,"$ 932,000.00"

**<div class="alert alert-block alert-info"> a) $ 982,300.00 (Implicit CAST)**</div>

In [173]:
SELECT (budget_amount (FORMAT '$zzz,zzz,zzz.99')) (VARCHAR(30))
FROM Department;

,Budget_Amount
1,"$ 932,000.00"
2,"$ 982,300.00"
3,"$ 982,300.00"
4,"$ 982,300.00"
5,"$ 932,000.00"

**<div class="alert alert-block alert-info"> b) $982,300.00**</div>

In [174]:
SELECT CAST((budget_amount (FORMAT '$$$$,$$$,$zz.99')) AS
VARCHAR(30))
FROM Department;

,Budget_Amount
1,"$932,000.00"
2,"$982,300.00"
3,"$982,300.00"
4,"$982,300.00"
5,"$932,000.00"

**<div class="alert alert-block alert-info"> c) 982,300,00**</div>

In [175]:
SELECT CAST((budget_amount (FORMAT 'zzz,zzz,zzz.99')) AS
VARCHAR(30))
FROM Department;

,Budget_Amount
1,"932,000.00"
2,"982,300.00"
3,"982,300.00"
4,"982,300.00"
5,"932,000.00"

**<div class="alert alert-block alert-info">  d) 00,982,300.00**</div>

In [176]:
SELECT CAST((budget_amount (FORMAT '99,999,999.99')) AS
VARCHAR(30))
FROM Department;

,Budget_Amount
1,"00,932,000.00"
2,"00,982,300.00"
3,"00,982,300.00"
4,"00,982,300.00"
5,"00,932,000.00"

**<div class="alert alert-block alert-info">2. Apply the appropriate format to the Hire_Date column (Employee table) to produce the formatting result shown.**</div>
**<div class="alert alert-block alert-info">a) January 10, 2012**</div>

In [178]:
SELECT CAST((hire_date (FORMAT 'm4BddBy4'))AS VARCHAR(30))
FROM Employee;

,Hire_Date
1,February 02 2021
2,February 05 2021
3,February 14 2021
4,February 04 2021
5,February 14 2021
6,February 08 2021
7,February 03 2021
8,February 04 2021
9,February 14 2021
10,February 14 2021
11,February 09 2021
12,February 10 2021
13,February 12 2021
14,February 13 2021
15,February 14 2021
16,February 07 2021
17,February 11 2021
18,February 01 2021
19,February 06 2021
20,February 09 2021

**<div class="alert alert-block alert-info">b) Monday, January 10**</div>

In [179]:
SELECT CAST((hire_date (FORMAT 'e4,Bm4bdd'))AS VARCHAR(30))
FROM Employee;

,Hire_Date
1,"Tuesday, February 02"
2,"Friday, February 05"
3,"Sunday, February 14"
4,"Thursday, February 04"
5,"Sunday, February 14"
6,"Monday, February 08"
7,"Wednesday, February 03"
8,"Thursday, February 04"
9,"Sunday, February 14"
10,"Sunday, February 14"
11,"Tuesday, February 09"
12,"Wednesday, February 10"
13,"Friday, February 12"
14,"Saturday, February 13"
15,"Sunday, February 14"
16,"Sunday, February 07"
17,"Thursday, February 11"
18,"Monday, February 01"
19,"Saturday, February 06"
20,"Tuesday, February 09"

**<div class="alert alert-block alert-info">c) Day 201 2012**</div>

In [180]:
SELECT
'Day '||CAST((hire_date (FORMAT 'd3By4'))AS VARCHAR(30))
FROM Employee;

,Hire_Date
1,Day 033 2021
2,Day 036 2021
3,Day 045 2021
4,Day 035 2021
5,Day 045 2021
6,Day 039 2021
7,Day 034 2021
8,Day 035 2021
9,Day 045 2021
10,Day 045 2021
11,Day 040 2021
12,Day 041 2021
13,Day 043 2021
14,Day 044 2021
15,Day 045 2021
16,Day 038 2021
17,Day 042 2021
18,Day 032 2021
19,Day 037 2021
20,Day 040 2021

# Teradata Joins Slide [86-96]
**<div class="alert alert-block alert-info"> INNER JOIN** </div>

In [181]:
SELECT e.last_name, e.first_name, e.employee_number, e.dept_number,
j.job_desc
FROM Employee e INNER JOIN Job j
On e. Job_Code=j. Job_Code;

,Last_Name,First_Name,Employee_Number,Dept_Number,Job_Desc
1,Stein,John,1006,301,Manager - Research a
2,Wilson,Edward,1015,501,Manager - Customer S
3,Rogers,Frank,1010,401,Manager - Education
4,Johnson,Darlene,1004,401,Manager - Education
5,Ratzlaff,Larry,1018,501,Manager - Education
6,Hoover,William,1001,401,Manager - Education

**<div class="alert alert-block alert-info"> 1.Write a query to fetch employee details like name, employee number, department number and job description if available. (Left outer join)** </div>

In [182]:
SELECT e.last_name, e.first_name, e.employee_number, e.dept_number,
j.job_desc
FROM Employee e LEFT OUTER JOIN Job j
On e. Job_Code=j. Job_Code;

,Last_Name,First_Name,Employee_Number,Dept_Number,Job_Desc
1,Stein,John,1006,301,Manager - Research a
2,Rabbit,Peter,1023,501,
3,Short,Michael,1025,,
4,Wilson,Edward,1015,501,Manager - Customer S
5,Morrissey,Jim,1021,,
6,Johnson,Darlene,1004,401,Manager - Education
7,Villegas,Arnando,1007,403,
8,Rogers,Nora,1016,,
9,Kanieski,Carol,1008,301,
10,Machado,Albert,1022,401,
11,Hoover,William,1001,401,Manager - Education
12,Crane,Robert,1014,402,
13,Ratzlaff,Larry,1018,501,Manager - Education
14,Brown,Allen,1024,403,
15,Rogers,Frank,1010,401,Manager - Education
16,Hopkins,Paulene,1012,403,
17,Lombardo,Domingus,1009,403,
18,Phillips,Charles,1013,401,
19,Charles,John,1020,403,
20,Brown,Alan,1002,401,

**<div class="alert alert-block alert-info">2. Write a query to fetch employee details like name, employee number, department number and job description if available. (Right outer join)** </div>

In [183]:
SELECT e.last_name, e.first_name, e.employee_number, e.dept_number,
j.job_desc
FROM Employee e RIGHT OUTER JOIN Job j
On e. Job_Code=j. Job_Code;

,Last_Name,First_Name,Employee_Number,Dept_Number,Job_Desc
1,Stein,John,1006,301,Manager - Research a
2,Wilson,Edward,1015,501,Manager - Customer S
3,Rogers,Frank,1010,401,Manager - Education
4,Johnson,Darlene,1004,401,Manager - Education
5,Hoover,William,1001,401,Manager - Education
6,Ratzlaff,Larry,1018,501,Manager - Education

**<div class="alert alert-block alert-info">3. Write a query to fetch employee employee number, department number and  department description if available. (Right outer join))** </div>

In [184]:
SELECT e. Dept_Number,d. Dept_Name, e.employee_number
FROM Department d LEFT OUTER JOIN Employee e
On d. Dept_Number =e. Dept_Number;

,Dept_Number,Dept_Name,Employee_Number
1,403,education,1024
2,401,customer support,1013
3,402,NULL,1014
4,501,marketing sales,1015
5,301,research and devl.,1006
6,403,education,1007
7,401,customer support,1001
8,501,marketing sales,1018
9,301,research and devl.,1008
10,403,education,1012
11,401,customer support,1002
12,501,marketing sales,1023
13,403,education,1020
14,401,customer support,1022
15,403,education,1009
16,401,customer support,1004
17,401,customer support,1010

**<div class="alert alert-block alert-info">4. Write a query that shows the employee_number, last_name, Dept_Number, department_name, and department_budget amounts.
    Make sure to include all employees with invalid departments and all departments that do not have assigned employees.(Full outer join)** </div>

In [185]:
SELECT emp.employee_number
,emp.last_name
,emp.Dept_Number
,dept.Dept_Name
,dept.budget_amount
FROM employee emp FULL OUTER JOIN
department dept
ON emp.Dept_Number = dept.Dept_Number
ORDER BY emp.Dept_Number;

,Employee_Number,Last_Name,Dept_Number,Dept_Name,Budget_Amount
1,1016,Rogers,,,
2,1025,Short,,,
3,1021,Morrissey,,,
4,1006,Stein,301,research and devl.,932000.00
5,1008,Kanieski,301,research and devl.,932000.00
6,1002,Brown,401,customer support,982300.00
7,1001,Hoover,401,customer support,982300.00
8,1022,Machado,401,customer support,982300.00
9,1004,Johnson,401,customer support,982300.00
10,1013,Phillips,401,customer support,982300.00
11,1010,Rogers,401,customer support,982300.00
12,1014,Crane,402,NULL,982300.00
13,1007,Villegas,403,education,932000.00
14,1020,Charles,403,education,932000.00
15,1024,Brown,403,education,932000.00
16,1009,Lombardo,403,education,932000.00
17,1012,Hopkins,403,education,932000.00
18,1018,Ratzlaff,501,marketing sales,982300.00
19,1023,Rabbit,501,marketing sales,982300.00
20,1015,Wilson,501,marketing sales,982300.00

**<div class="alert alert-block alert-info"> 5. Write a query to get employee details who has phone number enrolled in system record. (Inner join)** </div>

In [186]:
SELECT e.last_name, e.first_name, e.employee_number, p. Phone_Number
FROM Employee e Inner join Emp_Phone p
On e. employee_number =p. employee_number
And p. Phone_Number is not NULL;

,Last_Name,First_Name,Employee_Number,Phone_Number
1,Hoover,William,1001,6718096
2,Villegas,Arnando,1007,6718100
3,Brown,Alan,1002,6718097
4,Johnson,Darlene,1004,6718098
5,Kanieski,Carol,1008,6718101
6,Stein,John,1006,6718099

# Corelated Queries Slide [98]

**<div class="alert alert-block alert-info">1. Use multiple NCSSQs inside an IN list to retrieve from the department table those departments with the highest and lowest budget amounts** </div>

In [187]:
SEL Dept_Number, Dept_Name, budget_amount
FROM department
WHERE budget_amount IN
((SEL MIN(budget_amount) FROM department), (SEL
MAX(budget_amount) FROM department) );

,Dept_Number,Dept_Name,Budget_Amount
1,403,education,932000.00
2,401,customer support,982300.00
3,402,NULL,982300.00
4,501,marketing sales,982300.00
5,301,research and devl.,932000.00

**<div class="alert alert-block alert-info">2. Use a CSSQ in an IN list to retrieve all employees in the department having the highest salary in their department** </div>

In [188]:
SEL last_name (CHAR(10)), first_name (CHAR(10)),
Dept_Number AS d#, salary_amount
FROM employee e1
WHERE Dept_Number IN
(SELECT DISTINCT Dept_Number FROM employee
WHERE salary_amount = (SELECT MAX(salary_amount) FROM
employee));

,Last_Name,First_Name,d#,Salary_Amount
1,Brown,Allen,403,56500.00
2,Machado,Albert,401,56500.00
3,Ratzlaff,Larry,501,56500.00
4,Charles,John,403,56500.00
5,Hoover,William,401,31000.00
6,Rabbit,Peter,501,56500.00
7,Hopkins,Paulene,403,37900.00
8,Brown,Alan,401,31000.00
9,Wilson,Edward,501,37900.00
10,Villegas,Arnando,403,46000.00
11,Phillips,Charles,401,37900.00
12,Lombardo,Domingus,403,31000.00
13,Johnson,Darlene,401,31000.00
14,Rogers,Frank,401,46000.00

# "Derived" Tables Slide [108]
**<div class="alert alert-block alert-info"> 1. Use a derived table to list those departments whose budgets are greater than the average budget for all departments.** </div>

In [189]:
SELECT d. Dept_Number AS d#, d.dept_name,
d.budget_amount, a.avgbudget
FROM department d,
(SELECT AVG(budget_amount) as avgbudget
FROM department) AS a
WHERE d.budget_amount > a.avgbudget
ORDER BY 1, 2;

,d#,Dept_Name,Budget_Amount,avgbudget
1,401,customer support,982300.00,962180
2,402,NULL,982300.00,962180
3,501,marketing sales,982300.00,962180

**<div class="alert alert-block alert-info">2. Add to exercise #1 those employees who work in those departments.** </div>

In [190]:
SELECT d. Dept_Number AS d#,
e.first_name (CHAR(10)) AS f_name,
e.last_name (CHAR(10)) AS l_name,
d.budget_amount, a.avgbudget
FROM department d,
(SELECT AVG(budget_amount) as avgbudget
FROM department) AS a,
employee e
WHERE d.budget_amount > a.avgbudget
AND e.Dept_Number = d.Dept_Number
ORDER BY 1, 2;

,d#,f_name,l_name,Budget_Amount,avgbudget
1,401,Alan,Brown,982300.00,962180
2,401,Albert,Machado,982300.00,962180
3,401,Charles,Phillips,982300.00,962180
4,401,Darlene,Johnson,982300.00,962180
5,401,Frank,Rogers,982300.00,962180
6,401,William,Hoover,982300.00,962180
7,402,Robert,Crane,982300.00,962180
8,501,Edward,Wilson,982300.00,962180
9,501,Larry,Ratzlaff,982300.00,962180
10,501,Peter,Rabbit,982300.00,962180

**<div class="alert alert-block alert-info">3. Modify #1 to add the differences between the departments budget and the average.** </div>

In [191]:
SELECT dept_name, budget_amount, avgbudget,
budget_amount - avgbudget AS BudgeDiff
FROM (SELECT AVG(budget_amount) AS avgbudget
FROM department) AS ab,
Department d
WHERE budget_amount > avgbudget;

,Dept_Name,Budget_Amount,avgbudget,BudgeDiff
1,customer support,982300.00,962180,20120
2,NULL,982300.00,962180,20120
3,marketing sales,982300.00,962180,20120

# VOLATILE TABLE Slide [110]

**<div class="alert alert-block alert-info"> 1. Change your default database to "Employee_Sales" and create a volatile table based on the definition of the Department without qualifying any
database names of either the target and source tables. Then populate it with data from the department table. Use the "preserve" option. Select all rows from the table you created.** </div>


**<div class="alert alert-block alert-warning">Note that the default database is ignored for the CREATE TABLE. However, you will have to qualify the target table name for the INSERT-SELECT!**
</div>

In [192]:
CREATE VOLATILE TABLE department_new
(Dept_Number SMALLINT,
department_name CHAR(30),
budget_amount DECIMAL(10,2),
manager_employee_number INTEGER)
UNIQUE PRIMARY INDEX (Dept_Number)
ON COMMIT PRESERVE ROWS;

Success: 0 rows affected

In [193]:

INSERT INTO department_new SELECT * FROM department;

Success: 5 rows affected

**<div class="alert alert-block alert-info"> 2. Create another volatile table that averages the salary amounts for each department. Now issue a HELP command to verify the existence of the two volatile tables that you created. Do SHOW TABLE on one of them and then drop the first one and repeat the earlier HELP command.** </div>

**<div class="alert alert-block alert-warning"> Note
    Remember to reset your default database from the previous exercise!**
</div>

In [194]:
CREATE VOLATILE TABLE department_avgs
(Dept_Number SMALLINT,
Avgsals DECIMAL(10,2))
UNIQUE PRIMARY INDEX (Dept_Number)
ON COMMIT PRESERVE ROWS;

Success: 0 rows affected

In [195]:
HELP VOLATILE TABLE;

,Table Name,Table Id,Table Dictionary Name,Table SQL Name,Table UEscape
1,department_new,56C4D46A0000,department_new,department_new,
2,department_avgs,56C4D56A0000,department_avgs,department_avgs,

# SAMPLE AND RANDOM Slide [112-115]

**<div class="alert alert-block alert-info">1. Return two 15 row samples from the employee table. Anything less than 15 rows per sample is unacceptable. Project last and first names plus hire dates and birth dates.** </div>

In [196]:
SELECT employee.*, SAMPLEID
FROM employee
SAMPLE WITH REPLACEMENT 15, 15
ORDER BY SAMPLEID;

,Employee_Number,Dept_Number,Emp_Mgr_Number,Job_Code,Last_Name,First_Name,Salary_Amount,Hire_Date,SampleId
1,1024,403,,,Brown,Allen,56500.00,2021-02-02,1
2,1020,403,,,Charles,John,56500.00,2021-02-05,1
3,1001,401,,412101,Hoover,William,31000.00,2021-02-14,1
4,1022,401,,,Machado,Albert,56500.00,2021-02-04,1
5,1007,403,,432101,Villegas,Arnando,46000.00,2021-02-14,1
6,1015,501,,412109,Wilson,Edward,37900.00,2021-02-08,1
7,1021,,,222101,Morrissey,Jim,56500.00,2021-02-04,1
8,1002,401,,,Brown,Alan,31000.00,2021-02-14,1
9,1004,401,,412101,Johnson,Darlene,31000.00,2021-02-14,1
10,1013,401,,,Phillips,Charles,37900.00,2021-02-09,1
11,1012,403,,,Hopkins,Paulene,37900.00,2021-02-10,1
12,1009,403,,,Lombardo,Domingus,31000.00,2021-02-12,1
13,1008,301,,312102,Kanieski,Carol,46000.00,2021-02-13,1
14,1016,,,321100,Rogers,Nora,56500.00,2021-02-07,1
15,1025,,,211100,Short,Michael,56500.00,2021-02-01,1
16,1024,403,,,Brown,Allen,56500.00,2021-02-02,2
17,1020,403,,,Charles,John,56500.00,2021-02-05,2
18,1001,401,,412101,Hoover,William,31000.00,2021-02-14,2
19,1022,401,,,Machado,Albert,56500.00,2021-02-04,2
20,1007,403,,432101,Villegas,Arnando,46000.00,2021-02-14,2
21,1015,501,,412109,Wilson,Edward,37900.00,2021-02-08,2
22,1021,,,222101,Morrissey,Jim,56500.00,2021-02-04,2
23,1002,401,,,Brown,Alan,31000.00,2021-02-14,2
24,1004,401,,412101,Johnson,Darlene,31000.00,2021-02-14,2
25,1013,401,,,Phillips,Charles,37900.00,2021-02-09,2
26,1012,403,,,Hopkins,Paulene,37900.00,2021-02-10,2
27,1009,403,,,Lombardo,Domingus,31000.00,2021-02-12,2
28,1008,301,,312102,Kanieski,Carol,46000.00,2021-02-13,2
29,1016,,,321100,Rogers,Nora,56500.00,2021-02-07,2
30,1025,,,211100,Short,Michael,56500.00,2021-02-01,2

**<div class="alert alert-block alert-info">2. Return two 50% row samples of employees for each of departments 401 and 501.** </div>

In [197]:
SELECT employee.*, SAMPLEID
FROM employee
SAMPLE WHEN Dept_Number = 401 THEN 0.5, 0.5
WHEN Dept_Number = 501 THEN 0.5, 0.5
END
ORDER BY SAMPLEID;

,Employee_Number,Dept_Number,Emp_Mgr_Number,Job_Code,Last_Name,First_Name,Salary_Amount,Hire_Date,SampleId
1,1022,401,,,Machado,Albert,56500.00,2021-02-04,1
2,1002,401,,,Brown,Alan,31000.00,2021-02-14,1
3,1010,401,,412101,Rogers,Frank,46000.00,2021-02-11,1
4,1001,401,,412101,Hoover,William,31000.00,2021-02-14,2
5,1004,401,,412101,Johnson,Darlene,31000.00,2021-02-14,2
6,1013,401,,,Phillips,Charles,37900.00,2021-02-09,2
7,1015,501,,412109,Wilson,Edward,37900.00,2021-02-08,3
8,1023,501,,312103,Rabbit,Peter,56500.00,2021-02-03,3
9,1018,501,,412101,Ratzlaff,Larry,56500.00,2021-02-06,4

**<div class="alert alert-block alert-info">3. Using the same sampling as #2, SUM the salaries for each sample.** </div>

In [198]:
SELECT SID, SUM(salary_amount)
FROM
(SELECT salary_amount, SAMPLEID AS SID
FROM employee
SAMPLE WHEN Dept_Number = 401 THEN 0.5, 0.5
WHEN Dept_Number = 501 THEN 0.5, 0.5
END) AS t1
GROUP BY 1
ORDER BY 1;

,SID,SALARY_AMOUNT
1,1,125400.00
2,2,108000.00
3,3,113000.00
4,4,37900.00

#  TOP N Slide [117]

**<div class="alert alert-block alert-info">1. List the top five salary amount VALUES in the employee table along with the last and first name of the employee.** </div>

In [199]:
SELECT TOP 5 last_name, first_name, salary_amount
FROM employee
ORDER BY 3 DESC;

,Last_Name,First_Name,Salary_Amount
1,Rabbit,Peter,56500.00
2,Ratzlaff,Larry,56500.00
3,Brown,Allen,56500.00
4,Rogers,Nora,56500.00
5,Morrissey,Jim,56500.00

**<div class="alert alert-block alert-info">2. To see if it can be used on character data values, list the top three department names from the department table by VALUE (in descending order).** </div>

In [200]:
SELECT TOP 3 dept_name FROM department ORDER BY 1 DESC;

,Dept_Name
1,research and devl.
2,NULL
3,marketing sales

**<div class="alert alert-block alert-info">3. Retrieve the top three department salary sums by VALUE - descending.** </div>

In [201]:
SELECT TOP 3 *
FROM (SELECT Dept_Number, SUM(salary_amount) AS sumsal
FROM employee
GROUP BY 1) e
ORDER BY 2 DESC;

,Dept_Number,sumsal
1,401,233400.00
2,403,227900.00
3,,169500.00

# Window Aggregate Functions Slide [119]

**<div class="alert alert-block alert-info">1. Use a GROUP function to find employees having a salary greater than their department average and display the average.** </div>

In [202]:
SELECT last_name (CHAR(10)), first_name (CHAR(10)),
Dept_Number AS dept#,
salary_amount,
AVG(salary_amount)
OVER (PARTITION BY Dept_Number) AS deptavg
FROM employee
QUALIFY salary_amount > deptavg
ORDER BY Dept_Number, last_name;

,Last_Name,First_Name,dept#,Salary_Amount,deptavg
1,Machado,Albert,401,56500.00,38900
2,Rogers,Frank,401,46000.00,38900
3,Brown,Allen,403,56500.00,45580
4,Charles,John,403,56500.00,45580
5,Villegas,Arnando,403,46000.00,45580
6,Rabbit,Peter,501,56500.00,50300
7,Ratzlaff,Larry,501,56500.00,50300

# ROW_NUMBER Slide [120]

**<div class="alert alert-block alert-info">1. Select Employee detail for the employee belongs to department number 401 and 501** </div>

In [203]:
SELECT Last_Name, First_Name, Dept_Number,
ROW_NUMBER( ) OVER (ORDER BY Last_Name)
FROM Employee
WHERE Dept_Number IN (401, 501);

,Last_Name,First_Name,Dept_Number,Last_Name-1
1,Brown,Alan,401,1
2,Hoover,William,401,2
3,Johnson,Darlene,401,3
4,Machado,Albert,401,4
5,Phillips,Charles,401,5
6,Rabbit,Peter,501,6
7,Ratzlaff,Larry,501,7
8,Rogers,Frank,401,8
9,Wilson,Edward,501,9

# Group by Slide [123]

**<div class="alert alert-block alert-info">1.Generate a report of salary totals by department.** </div>

In [204]:
SELECT Dept_Number, SUM(Salary_Amount) 
FROM employee 
GROUP BY Dept_Number;

,Dept_Number,Salary_Amount
1,403,227900.00
2,401,233400.00
3,402,37900.00
4,501,150900.00
5,301,92000.00
6,,169500.00

# HAVING Clause Slide [124]
**<div class="alert alert-block alert-info">1.Select all department whose head count is greater than 5 employee.** </div>

In [205]:
SELECT Dept_Number,COUNT(Employee_Number)
     FROM Employee
  Group by Dept_Number
  HAVING COUNT(Employee_Number) > 5;

,Dept_Number,Employee_Number
1,401,6

#  NULL Processing Slide [126-127]

**<div class="alert alert-block alert-info">1. Request separate reports of employees who have not been assigned to a department, then those who have not been given a job code.** </div>

In [206]:
SELECT last_name, first_name, Dept_Number, job_code
FROM Employee
WHERE Dept_Number IS NULL;

,Last_Name,First_Name,Dept_Number,Job_Code
1,Morrissey,Jim,,222101
2,Rogers,Nora,,321100
3,Short,Michael,,211100

**<div class="alert alert-block alert-info">2. Using an IN list, display employees with any of the following job codes:   
       412101, 412109, and NULL.** </div>

In [207]:
SELECT last_name, first_name, job_code
FROM Employee
WHERE job_code IN (412101, 412109)
OR job_code IS NULL
ORDER BY 1;

,Last_Name,First_Name,Job_Code
1,Brown,Allen,
2,Brown,Alan,
3,Charles,John,
4,Crane,Robert,
5,Hoover,William,412101
6,Hopkins,Paulene,
7,Johnson,Darlene,412101
8,Lombardo,Domingus,
9,Machado,Albert,
10,Phillips,Charles,
11,Ratzlaff,Larry,412101
12,Rogers,Frank,412101
13,Wilson,Edward,412109

**<div class="alert alert-block alert-info">3. Rewrite #2 using all OR'ed conditions.** </div>

In [208]:
SELECT last_name, first_name, job_code
FROM Employee
WHERE job_code = 412101
OR job_code = 412109
OR job_code IS NULL
ORDER BY 1;

,Last_Name,First_Name,Job_Code
1,Brown,Allen,
2,Brown,Alan,
3,Charles,John,
4,Crane,Robert,
5,Hoover,William,412101
6,Hopkins,Paulene,
7,Johnson,Darlene,412101
8,Lombardo,Domingus,
9,Machado,Albert,
10,Phillips,Charles,
11,Ratzlaff,Larry,412101
12,Rogers,Frank,412101
13,Wilson,Edward,412109

# QUALIFY Slide [129]

**<div class="alert alert-block alert-info">1.Use a GROUP function to find employees having a salary greater than their department average and display the average.** </div>

**<div class="alert alert-block alert-warning"> Note that the ordering shown may, depending upon the effect of QUALIFY, be more efficient, in this case, than placing it in the OVER clause due to fewer rows being ordered after the QUALIFY take place.**</div>

In [209]:
SELECT last_name (CHAR(10)), first_name (CHAR(10)),
Dept_Number AS dept#,
salary_amount,
AVG(salary_amount)
OVER (PARTITION BY Dept_Number) AS deptavg
FROM employee
QUALIFY salary_amount > deptavg
ORDER BY Dept_Number, last_name;

,Last_Name,First_Name,dept#,Salary_Amount,deptavg
1,Machado,Albert,401,56500.00,38900
2,Rogers,Frank,401,46000.00,38900
3,Brown,Allen,403,56500.00,45580
4,Charles,John,403,56500.00,45580
5,Villegas,Arnando,403,46000.00,45580
6,Rabbit,Peter,501,56500.00,50300
7,Ratzlaff,Larry,501,56500.00,50300