**<div class="alert alert-block alert-info"> Importing Packages.**</div>

In [1]:
from teradataml.dataframe.fastload import fastload
from teradatasqlalchemy.types import *
import pandas as pd
import getpass
import datetime
import os
import teradataml as ml

**<div class="alert alert-block alert-info"> Applying Condition.**</div>

In [2]:
if ml.get_context() is not None:
    ml.remove_context()

**<div class="alert alert-block alert-info"> Fetching user details(username and password) and assigning them to a variable.**</div>

In [3]:
user = input()

 chasing

In [4]:
print("Please Enter the password for the user:",user)
pwd = getpass.getpass()

Please Enter the password for the user: chasing

 ········

**<div class="alert alert-block alert-info"> Assigning hostname to a variable and creating connection request.**</div>

In [5]:
hostname="tdprod1.ngco.com"

In [6]:
print( "Connect to :{} as user id:{} ".format(hostname,user))

Connect to :tdprod1.ngco.com as user id:chasing

In [ ]:
print( "Connect to :{} as user id:{} ".format(hostname,user))
ml.create_context(host =hostname, username=user, password=pwd, database=user ,logmech="ldap")

Connect to :tdprod1.ngco.com as user id:chasing

**<div class="alert alert-block alert-info"> Inserting data in a variable from table.**</div>

In [11]:
df = ml.DataFrame.from_query(" select * from cs186026.Department;")

In [12]:
df

                                            Dept_Name  Dept_Mgr_Number Budget_Amount
Dept_Number
402          NULL                                                  801    982300.000
401          customer support                                      801    982300.000
301          research and devl.                                    801    932000.000
501          marketing sales                                       801    982300.000
403          education                                             801    932000.000

**<div class="alert alert-block alert-info"> Inserting data into dataframe "panda_df".**</div>

In [13]:
panda_df=df.to_pandas()

In [14]:
panda_df

,Dept_Name,Dept_Mgr_Number,Budget_Amount
Dept_Number,,,
403,education,801,932000.00
501,marketing sales,801,982300.00
402,NULL,801,982300.00
301,research and devl.,801,932000.00
401,customer support,801,982300.00

**<div class="alert alert-block alert-info"> Loading data into a table using fastload utility.**</div>

In [16]:
ml.fastload(df = panda_df, table_name = 'Department_uploaded',schema_name="cs186026",if_exists='replace')

TeradataMlException: [Teradata][teradataml](TDML_2087) fastload() failed to load pandas dataframe to Teradata Vantage.

**<div class="alert alert-block alert-info"> Inserting data into df1 and displaying that.**</div>

In [10]:
df1 = ml.DataFrame("rldmprod_v.Department_uploaded")

In [11]:
df1

              EFF_DT SITE_TY_CD      EXP_DT PUR_ORG_NUM   RGN_NUM CAL_TY_CD BAN_NUM         CUST_SITE_NUM SL_DSTRCT_NUM STR_CAT_CD SUPIOR_DEPT_STR_SITE_NUM CO_TY_NUM ACTV_ST_IND OPN_CLS_ST_CD                      SITE_NM  REC_CRE_JOB_NUM                 REC_CRE_TMS                REC_CHNG_TMS PROFL_SITE_NUM POS_INBND_SITE_NUM POS_OUTBND_SITE_NUM DC_TOB_TAX_PERMT_CD BUS_TY_CD ORIG_SEG_DEFN_PRC_IND PROFT_CENT_NUM PROFL_SEG_SITE_NUM     ACTV_DT COLLG_DSCT_IND SR_DSCT_IND   DEACTV_DT SHOP_TY_CD LIKE_SITE_NUM PREV_SITE_NUM BUS_PTNR_NUM PTNR_SRC_SYS_CD LOCL_CURRN_CD SRC_SYS_CD STR_LOCK_VLD_FROM_DT STR_LOCK_VLD_TO_DT  STR_CLS_DT  STR_OPN_DT GEOG_LOC_ID_SRC_ID APO_STRT_LOC_DESC RTRN_MTRL_AUTH_IND TMPLT_STR_NUM SITE_RPT_GRP_CD CUST_GRP_CD COST_ALOCT_SL_ORG_NUM COST_ALOCT_DIST_CHNNL_NUM COST_ALOCT_TGT_IND CTRLNG_AREA_NUM SL_AREA_FLR_SPC_QTY SL_AREA_FLR_SPC_UOM_CD
SITE_NUM
E709      2015-10-27         A   2020-02-03    0002      0001          9A      WS    E709                          None       None                     None  L053            None          None     SDM Vancouver Broadway E             1075  2015-10-28 01:04:44.433276  2020-02-06 14:56:28.119926       L103                   None                None                None      NA                    None           None               None        None           None        None        None       None          None          None         None            None    CAD              None                 None               None        None  2015-09-27               None              None               None          None              M         None                  None                      None               None            None                .000                   None
1431      2013-01-01         A   2013-04-25    0005      0005          91      07    0000001431                    None         2                  R299      1431            None          None  Paradise Market SE Paradise               69  2013-01-02 01:02:38.007135  2013-05-02 01:17:23.160941       L160                   None            ZL00                    None      02                    None           None               None  2004-04-30             2           2   2012-12-31       01            None          None         None            None    CAD              None           2012-12-31         9999-12-31  2010-09-11  2004-05-02               None              None               None          None              M         C1                    None                      None               None            None                .000                   None
1431      2014-10-02         A   2014-12-22    0005      0005          91      07    0000001431                    None         2                  R299      1431            None          None  Paradise Market SE Paradise              686  2014-10-06 01:06:22.333519  2014-12-28 01:04:35.056445       L160                   None            ZL00                    None      02                    None           None               None  2004-04-30             2           2   2012-12-31       01            None          None         None            None    CAD              None                 None               None  2010-09-11  2004-05-02               None              None               None          None              M         MK                    None                      None               None            None           18000.000                 FT2
1431      2014-03-25         A   2014-10-01    0005      0005          91      07    0000001431                    None         2                  R299      1431            None          None  Paradise Market SE Paradise              499  2014-03-26 01:04:39.918487  2014-10-06 01:06:22.349959       L160                   None            ZL00                    None      02                    None           None               None  2004-04-30             2           2   2012-12-31       01            None          None         None            None    CAD              None                 None               None  2010-09-11  2004-05-02               None              None               None          None              M         MK                    None                      None               None            None                .000                   None
1431      2013-04-26         A   2014-01-28    0005      0005          91      07    0000001431                    None         2                  R299      1431            None          None  Paradise Market SE Paradise              178  2013-05-02 01:17:21.718323  2014-02-06 01:06:29.182769       L160                   None            ZL00                    None      02                    None           None               None  2004-04-30             2           2   2012-12-31       01            None          None         None            None    CAD              None           2012-12-31         9999-12-31  2010-09-11  2004-05-02               None              None               None          None              M         CV                    None                      None               None            None                .000                   None
1431      2012-10-23         A   2012-12-31    0005      0005          91      07    0000001431                    None         2                  R299      1431            None          None  Paradise Market SE Paradise                1  2012-10-23 02:37:41.228304  2013-01-02 01:02:38.033524       L160                   None            ZL00                    None      02                    None           None               None  2004-04-30             2           2   2012-12-31       01            None          None         None            None    CAD              None           2010-09-11         9999-12-31  2010-09-11  2004-05-02               None              None               None          None              M         C1                    None                      None               None            None                .000                   None
1431      2014-01-29         A   2014-03-24    0005      0005          91      07    0000001431                    None         2                  R299      1431            None          None  Paradise Market SE Paradise              446  2014-02-06 01:06:29.125486  2014-03-26 01:04:39.949974       L160                   None            ZL00                    None      02                    None           None               None  2004-04-30             2           2   2012-12-31       01            None          None         None            None    CAD              None                 None               None  2010-09-11  2004-05-02               None              None               None          None              M         CV                    None                      None               None            None                .000                   None
E709      2020-02-04         A   2020-02-04    0002      0001          9A      WS    E709                          None       None                     None  L053            None          None                         None             2642  2020-02-06 14:56:28.119922  2020-02-07 02:02:54.097434       L103                   None                None                None      NA                    None           None               None        None           None        None        None       None          None          None         None            None    CAD              None                 None               None        None  2015-09-27               None              None               None          None              M         None                  None                      None               None            None                .000                   None
E709      2015-09-28         A   2015-10-26    0002      0001          9A      WS    E709                          None       None                     None  L053            None          None           SDM Kingsgate Mall             1046  2015-10-03 01:04:02.607426  2015-10-28 01:04:44.433281       L103                   None                None                None      NA                    None           None               None        None           None        None        None       None          None          None         None            None    CAD              None                 None               None        None  2015-09-27               None              None               None          None              M         None                  None                      None               None            None                .000                   None
E709      2015-09-27         A   2015-09-27    0002      0001          9A      WS    E709                          None       None                     None  L053            None          None           SDM Kingsgate Mall             1045  2015-10-02 01:04:17.248644  2015-10-03 01:04:02.607431       L103                   None                None                None      NA                    None           None               None        None           None        None        None       None          None          None         None            None    CAD              None                 None               None        None  2015-09-27               None              None               None          None            None        None                  None                      None               None            None                .000                   None

**<div class="alert alert-block alert-info">Checking Versions.**</div>

In [4]:
ml.show_versions()

NameError: name 'ml' is not defined